<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar arquivo</title>
</head>
<body>
    <form action="/registrararquivo" method="POST">
        <input placeholder="Titulo do arquivo" type="text" name="nomeArquivo" id="nomeArquivo"><br>
        <textarea placeholder="conteudo do arquivo" id="conteudoArquivo" name="conteudoArquivo" cols="30" rows="10"></textarea><br>
        <button type="submit">Salvar</button>
    </form>
    
</body>
</html>